
@import 'https://fonts.googleapis.com/css2?family=PT+Serif&display=swap';

#intro {
  background-image: url("../../images/background.webp");
  height: 100vh;
  margin-top: -200px;
}

.navbar .nav-link {
  color: white !important;
}

.icon_hover:hover {
  color: #edc846;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  text-shadow: 1px 1px 1px #2d2c2d, 0 0 0.1em #edc846;
}

.menu {
  background: rgb(70,69,70);
  background: radial-gradient(circle, rgba(70,69,70,1) 0%, rgba(0,0,0,1) 100%);
}

:root {
  --bs-body-font-family: 'PT Serif', sans-serif !important;
}